<div class="container">

<h1 class="lead">{{user.fullName}}</h1>
<hr class="my-4" width="40%">
<br>
<div class="row justify-content-center" >
    <div class="col-md-4 col-sm-6 col-12 text-center">
        <h5 class="lead">Gender</h5>
        <p class="fst-italic">{{user.gender}}</p>
        <h5 class="lead">Age</h5>
        <p class="fst-italic">{{user.age}}</p>
        <h5 class="lead">Email</h5>
        <p class="fst-italic">{{user.email}}</p>
    </div>
    <div class="col-md-4 col-sm-6 col-12 text-center" >
        <h5 class="lead">State</h5>
        <p class="fst-italic">{{user.state}}</p>
        <h5 class="lead">City</h5>
        <p class="fst-italic">{{user.city}}</p>
        <h5 class="lead">Street</h5>
        <p class="fst-italic">{{user.street}}</p>
    </div>
    <div class="pic col-md-2 col-12"> 
            <img src="{{user.picBig}}" alt="user-picture">
    </div>
</div>
<br>
<div class="row">
    <div class="map" id="map" class="match-parent"></div>
</div><br>
<div class="row">
    <a type="button" class="col-3 col-md-2 col-lg-1 btn btn-light btn-outline-secondary mx-auto " href="">Back</a>
</div>
</div>